

@media(max-width: 500px){
    .star-container{
        padding: 0.1rem !important;
    }
    .widget-svg{
        width: 2rem !important;
        height: 2rem !important;
    }
}
@media (max-width: 400px){
    .star-container{
        padding: 0rem !important;
    }
    .widget-svg{
        width: 1.6rem !important;
        height: 1.6em !important;
    }
}